* {
margin: 0;
padding: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

body {
font-size: 18px;
line-height: 1.4em;
font-family: 'slabo', sans-serif;
color: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #254e70;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_container {
  text-align: center;
}
/*Text*/
a {
  color: #fff;
  text-decoration: none;
}
.permission {
  font-size: 12px;
  line-height: 1.em;
  margin: 0 20px;
}

/*Form*/
form {
  text-align: center;
}
input {
  border-radius: 2px;
  border: none;
  padding: 5px;
  margin: 10px;
}
button, .button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px 8px;
  background: transparent;
  margin: 5px;
}
.check {
  width: 20px;
  height: 20px;
  color: #fff;
}

