* {
margin: 0;
padding: 0;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */

body {
font-size: 18px;
line-height: 1.4em;
font-family: 'slabo', sans-serif;
color: #fff;
}
.app {
  overflow: scroll;
}
#root {
  width: 100vw;
  height: 100vh;
  background: #254e70;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_container {
  text-align: center;
  background: #254e70;
  overflow: scroll;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
hr {
  margin: 10px 0;
}
/*Text*/
.locationName {
  font-size: 25px;
  font-weight: 700;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style: none;
  width: 50vw;
}
.permission {
  font-size: 12px;
  line-height: 1.em;
  margin: 0 20px;
}
.max {
  font-weight: 700;
}
.min {
  font-weight: 100;
}

/*Form*/
form {
  text-align: center;
}
input {
  border-radius: 2px;
  border: none;
  padding: 5px;
  margin: 10px;
}
button, .button {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 5px 8px;
  background: transparent;
  margin: 5px;
}
.button {
  width: 50vw;
  align-self: center;
}
.check {
  width: 20px;
  height: 20px;
  color: #fff;
}

/*Images*/
.attribution {
  width: 30vw;
  align-self: center;
}
.clear-day {
  background: url('./images/clear-day.png');
}
.clear-night {
  background: url('./images/clear-night.png');
}
.rain, .sleet {
  background: url('./images/rain.png');
}
.snow {
  background: url('./images/snow.png');
}
.wind {
  background: url('./images/wind.png');
}
.fog, .cloudy {
  background: url('./images/cloud.png');
}
.partly-cloudy-night {
  background: url('./images/cloudy-night.png');
}
.partly-cloudy-day {
  background: url('./images/cloudy-day.png');
}
.clear-day, .clear-night, .rain, .snow, .sleet, .wind, .fog, .cloudy, .partly-cloudy-day, .partly-cloudy-night{
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#main_icon {
  width: 100px;
  height: 100px;
  display: inline-block;
}
/*Weather*/
.daily {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
ul li {
  margin: 10px;
}



